*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    font-weight: 500;
    
}

.navbar-menu-font{
    font-size: 1.1em;
    color: white;
}

.navbar-light{
    background: white;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
    box-shadow:         0px 0px 4px 0px rgba(50, 50, 50, 0.40);
}


.navbar-dark{
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}



.home-bg{
    background: url(../images/VOROFY\ BG.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.home-text{
    background: url(../images/VOROFY\ BG\ LOGO.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.home-obj{
    background: url(../images/VOROFY\ BG\ OBJ.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.home-contents-container{
    padding-right: 40px;
    padding-left: 40px;
    
}

.home-contents{
    margin-left: 40px;
    top:55%;
}
.home-heading{
    font-size: 50px;
    font-weight: 700;
    color: white;
    line-height: 70px;
}

.home-para{
    font-size:20px;
    color: white;
    font-weight: 500;
    width:50%;
}

.home-scroll-btn{
    width:55px;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 30px;
    opacity: 0.7;
    transition: 0.2s ease-in-out;
}

.home-scroll-btn:hover{
    
    bottom: 25px;
    opacity: 1;
}

.about{
    background-image: linear-gradient(to bottom, rgb(223, 233, 245),rgb(223, 233, 245) 51%, #191b1c 49%);
    background-repeat: no-repeat;
}

.about-box{
    background-color: black;
    margin: 10px;
    padding: 5px;
    transition: 0.2s ease-in-out;
}

.about-box:hover{
    transform: scale(1.1);
}
.about-illus{
    background: url(../images/about\ bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.heading{
    font-size: 45px;
    color: #07053c;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 10px;
}

.heading-white{
    font-size: 45px;
    color: #07053c;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
}
.paragraph{
    font-size:18px;
    color: #07053c ;
    font-weight: 500;
    padding: 10px;
}

.paragraph-white{
    font-size:18px;
    color: #07053c ;
    font-weight: 500;
    padding: 10px;
    color: white;
}


.services{
    background: #191b1c;
}

.service-box{
    background-color: black ;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    z-index: 9;
}



.box-heading{
    font-size: 35px;
    
    font-weight: 600;
    padding: 10px;
    color: white;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.box-para{
    font-size: 18px;
    
    font-weight: 500;
    padding: 15px;
    color: white;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;

}

.box-after{
   
    z-index: 99;
    transform: scale(1.13);
}

.img-fluid{
    transition: 0.1s ease-in-out;
}
.img-after{
    filter: opacity(0.5);
    transition: 0.1s ease-in-out;
}
.sbg{
    background: url('../images/sbg.png');
    background-size: cover;
    background-position: center;
}

.work{
    background-image: url("../images/SERVICES\ BG.png");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}



.client-logo{
    float: right;
    margin: 5px;
}

.contact{
    background: #191b1c;
    
}

.contact-top{
    background: url("../images/CONTACT.png");
    background-position: center;
    background-size: cover;
    
}

.contact-box{
    background-color: rgba(0, 0, 0, 0.1);
}

.dark-input{
    background-color: black !important;
    border:0 !important;
    border-bottom: 1px solid white !important;
    border-radius: 0 !important;
    margin-top:20px;
    text-decoration: none;
    color: white;
    outline:none !important;
    
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(23, 104, 185, 0.25) !important;
} 

.btn-grey{
    background-color:#224dfc !important ;
    color: white !important;
    border-radius: 15px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-top: 20px !important;
    transition: 0.2s ease-in-out;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.btn-grey:hover{
    background-color:#1633a5 !important ;
    color: white !important;
}
.footer-logo{
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:200px;
}

.footer-social-icon{
    color: white;
    font-size: 30px;
    margin: 10px;
    transition: 0.05s ease-in-out;
}

.footer-social-icon:hover{
    color: #224dfc;
    
}


.footer-paragraph-white{
    font-size:15px;
    color: #07053c ;
    font-weight: 400;
    padding: 10px;
    color: white;
    padding: 1px;
}


/* MD STYLE  */

@media(max-width:991px){
    .home-text{
        background: url(../images/VOROFY\ BG\ LOGO\ MD.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100vh;
    }
    .home-heading{
        font-size: 40px;
        font-weight: 700;
        color: white;
        line-height: 75px;
    }
    
    .home-para{
        font-size:16px;
        color: white;
        font-weight: 500;
        width:70%;
    }

    .home-contents-container{
        padding-right: 20px;
        padding-left: 20px;
    }
    .home-contents{
        top:45%;
    }
 }

 /* XS STYLE  */

 @media (max-width:575px){
    .home-text{
        background: url(../images/VOROFY\ BG\ LOGO\ XS.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100vh;
    }

    .home-heading{
        font-size:25px;
        font-weight: 700;
        color: white;
        line-height: 35px;
    }
    
    .home-para{
        font-size:13px;
        color: white;
        font-weight: 500;
        width: 100%;
        
    }
    .home-contents{
        top:50%;
    }

    .home-contents-container{
        padding-right: 10px;
        padding-left: 10px;
    }
 }



 #navbar{
     opacity: 0;
 }
 #home-content{
    opacity: 0;
}
#about-contents{
    opacity: 0;
}
#s1{
    opacity: 0;
}
#s2{
    opacity: 0;
}
#work-contents{
    opacity: 0;
}
#c1{
    opacity: 0;
}
#c2{
    opacity: 0;
}
