*{
    
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    font-weight: 500;
    
}

.navbar-menu-font{
    font-size: 1.1em;
    color: white;
}

.navbar-light{
    background: white;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
}


.navbar-dark{
    border-radius: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: 0.3s ease-in-out;
}



.home-bg{
    background: url(../images/VOROFY\ BG.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.home-text{
    background: url(../images/VOROFY\ BG\ LOGO.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.home-obj{
    background: url(../images/VOROFY\ BG\ OBJ.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

/* MD STYLE  */

@media(max-width:991px){
    .home-text{
        background: url(../images/VOROFY\ BG\ LOGO\ MD.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100vh;
    }
 }

 /* XS STYLE  */

 @media (max-width:575px){
    .home-text{
        background: url(../images/VOROFY\ BG\ LOGO\ XS.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100vh;
    }
 }